<section id="products">
	<div class="banner">
		<div class="container">

			<div class="roww">
				<div class="cont-form">
					<form class="form" action="https://docs.google.com/forms/d/e/1FAIpQLSeUKB7WuP88oIVqu1If6ACeXPUHIHBw4Yv7moIMhtthd9GN0A/formResponse">
          	<label>ФИО</label>
          	<input style="color:#000000;" name="entry.2005620554" type="name" />

          	<label>Телефон</label>
          	<input style="color:#000000;" name="entry.1166974658" type="phone" required />

			<label>Email</label>
          	<input style="color:#000000;" name= "entry.1045781291" type="email" required />

                      
			<label>Город</label>
          	<input style="color:#000000;" name="entry.1065046570" type="city" required />


          <input type="submit" value="Отправить" />

    </form>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
</section>
<!-- /.banner -->