<section id="products">
	<div class="banner">
		<div class="container">

			<div class="roww">
				<div class="cont-form">
                  
                  
                  <script type="text/javascript">var submitted=false;</script>
     <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {window.location='https://2020.greenwaystars.ru/';}"></iframe>
                  
					<form class="form" action="https://docs.google.com/forms/d/e/1FAIpQLSeUKB7WuP88oIVqu1If6ACeXPUHIHBw4Yv7moIMhtthd9GN0A/formResponse" method="post" target="hidden_iframe" onsubmit="submitted=true;">
          	<ul>
						<li>
                          <label>ФИО</label>
                          <br>
                          <label>Телефон</label>
                          <br>
                          <label>Email</label>
                          <br>
                          <label>Город</label>
						</li>
              
						<li>
                          <input style="color:#000000;" name="entry.2005620554" type="name" />
                          <br>
                          <input style="color:#000000;" name="entry.1166974658" type="phone" required />
                          <br>
                          <input style="color:#000000;" name= "entry.1045781291" type="email" required />
                          <br>
                          <input style="color:#000000;" name="entry.1065046570" type="city" required />
						</li>
              
					</ul>

          <input type="submit" value="Отправить" />

    </form>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
</section>
<!-- /.banner -->